.draft{
    background-color: #ff000022;
}
body{
    font-family: Helvetica, Arial, sans-serif;
}
img{
    max-width: 250px;
}
nav{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    margin: 0 0 20px;
}
nav div{
    display: inline-block;
    padding: 20px 40px;
}
section div{
    margin-bottom: 20px;
    padding: 48px;
}
section div div{
    padding: 10px;
}
.left, .right{
    min-height: 1080px;
}
.left{
    float: left;
    width: 29%;
}
.right{
    float: right;
    width: 70%;
}

.avatar{
    text-align: center;
}
.avatar img{
    max-width: 200px;
}

.header img{
    display:inline-block;
    max-height: 300px;
}
.header div{
    display: inline-block;
    vertical-align: bottom;
    width: 400px;
}
.images{
    text-align: center;
}
.image-container img{
    display: inline-block;
    vertical-align: middle;
    padding: 0 8px;;
}
#test{
    min-height: 100px;
}
#bottom{
    width:100%;
}